<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{{ title }} — {{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">
</head>
<body>
  <header>
    <h1><a href="/">{{ site.title }}</a></h1>
    <p>{{ site.description }}</p>
  </header>

  <main>
    {{ content }}
  </main>
</body>
</html>
